.ml15 {
  font-weight: 800;
  font-size:5vw;
  letter-spacing: 5px;
  color: #EE5007;
  text-transform: uppercase;
}

#ml15_gfx{
  color: #F5F5F5;
}

.ml12 {
  font-weight: 200;
  font-size:2vw;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
}

li a.active{
 color: white;
 opacity: 1;
}

div.gallery img {
  width: 60%;
  height: auto;
}

header h1 {
  background-image: linear-gradient(to left, #EE5007, #F1A661);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

#GFX_h1{
  color: #3B3486;
}

div.spacer70{
  height: 70px;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
  
  div.gallery img {
  width: 100%;
  height: auto;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}